* {
	transition-duration: .6s;
}
a:link {
	color:black;
	text-decoration: none;
}

a:visited {
	color:black;
}

a:hover {
	color:forestgreen;
}

ul {
	list-style: none;
}
nav.hidden{
	display:none;
	visibility: hidden;
}
/*.nav-item.hidden{
	visibility: hidden;
}
.nav-item.nav-link{
	background-color: red;
transition-duration: .2s;
}*/
.container {
	background-color: lightgrey;
	font-family: 'Poppins', sans-serif;
	background-color: whitesmoke;
}

h1 {
	font-family: 'Krona One', sans-serif;
	font-size: 48px;
}
.about-me em{
	cursor:pointer;
}
.carousel-item{
  transition-property: width height background-color font-size left top transform -webkit-transformv color;
 transition: all 3s ease-in-out
}
.project-title {
	font-size: 24px
}

