.container{
	background-color: lightgrey;
}
header{
	background-color: grey;
}
.header-nav{
	background-color: lightsalmon;
}
.nav-link{
	background-color: salmon;
}
article{
	background-color: yellow;
}
.about-picture{
	background-color: AliceBlue;
}
.ben-bio{
	background-color: AntiqueWhite;
}
footer{
	background-color: gold;
}
.footer-links{
	background-color: greenyellow;
}
.footer-link{
	background-color: goldenrod;
}
.copyright{
	background-color: khaki;
}