a:link {
	color:black;
	text-decoration: none;
}

a:visited {
	color:black;
}

a:hover {
	color:forestgreen;
}

ul {
	list-style: none;
}

.nav-item.hidden{
	visibility: hidden;
}
.nav-item.nav-link{
	background-color: red;
transition-duration: .2s;
}
.container {
	background-color: lightgrey;
	font-family: 'Poppins', sans-serif;
	background-color: whitesmoke;
}

h1 {
	font-family: 'Krona One', sans-serif;
	font-size: 48px;
}

.project-title {
	font-size: 24px
}

